
<style>

.quadroBotoes{
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

input{
    text-align: center;
}

body{
    
}

</style>



<div style="font-family: Century Gothic;font-size : 18px;background-color:#e9e9e9;margin:10px;" >

    <div style="margin: 10px;">

            <form class="mt-4" style="padding: 20px; font-size : 18px;" id="formularioRegistroFornecedor" action="#">

            <h4 style="text-align: center; margin-top:20px;">Preencha as informações para cadastrar um Novo Fornecedor</h4>

                <div class="row mt-4" style="font-size : 18px;">
                    <div class="col">
                    <input id="name" type="text"  style="font-size : 18px;" class="form-control" placeholder="Nome">
                    </div>

                    <div class="col">
                    <input id="company" type="text" style="font-size : 18px;" class="form-control" placeholder="Empresa">
                    </div>

                    <div class="col">
                    <input id="contact1" type="text" style="font-size : 18px;" class="form-control" placeholder="Telefone">
                    </div>

                    <div class="col">
                    <input id="contact2" type="text" style="font-size : 18px;" class="form-control" placeholder="Celular">
                    </div>

                </div>
                <div class="row mt-4">

                    <div class="col">
                    <input id="email" type="email" style="font-size : 18px;" class="form-control" placeholder="Email">
                    </div>

                    <div class="col">
                    <input id="cnpj" type="text" style="font-size : 18px;" class="form-control" placeholder="CNPJ/CPF">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                    <input id="fisicAdress" type="text" style="font-size : 18px;" class="form-control" placeholder="Endereço Fisico">
                    </div>

                    <div class="col">
                    <input id="activity" type="text" style="font-size : 18px;" class="form-control" placeholder="Atividade">
                    </div>
                    

                </div>

                <div class="quadroBotoes">

                    <button class="btn btn-outline-success" style="margin-left: 10%;" type="submit">Cadastrar Fornecedor ✓</button>
                    <a class="btn btn-outline-danger"style="margin-left: 10%;" href="#">Cancelar Cadastro X </a>
                    <a class="btn btn-outline-danger"style="margin-left: 10%;" href="#">Listar Fornecedores</a>

                </div>


            </form>
    </div>

</div>



<script>
$("#formularioRegistroFornecedor").submit((event)=>{

event.preventDefault()

let Provider = { 
    name : document.getElementById("name").value,
    company : document.getElementById("company").value,
    telephone1 : document.getElementById("contact1").value,
    telephone2 : document.getElementById("contact2").value,
    email : document.getElementById("email").value,
    cnpj : document.getElementById("cnpj").value,
    fisicAdress : document.getElementById("fisicAdress").value,
    activity : document.getElementById("activity").value
}

$.ajax({
url : 'http://localhost:8081/admin/cadastroFornecedor/newProvider',
type : 'POST',
data : {provider : Provider},
success : (data)=>{
    if(data == "cnpjCadastrado")
    {

        Swal.fire({
        position: 'center',
        type: 'error',
        title: 'Este CNPJ já esta Cadastrado em nosso Sistema ! ',
        showConfirmButton: false,
        timer: 1500
        })

    }
    else
    {

        Swal.fire({
        position: 'center',
        type: 'success',
        title: 'Fornecedor Cadastrado',
        text : 'Aguarde o Redirecionamento ...',
        showConfirmButton: false,
        timer: 1500
        })

        window.location.href = "http://localhost:8081/admin/listarFornecedor";

    }
},
error : (err) =>{
    console.log(err)
}
})



})





$(document).ready(()=>{

    $('#contact1').mask('(00) 0000-0000');
    $('#contact2').mask('(00) 0 0000-0000');
    $('#cnpj').mask('000.000.000-00');
    $('#dinheiro').mask('#.##0.00', {reverse: true});
    $('#estado').mask('AA');

})




</script>

<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

