<style>

</style>




<div class="container" style="height: 560px;margin-top:-25px;">

<div>

          <div>

                    <div  style="width: 200px;margin-left: -64px;padding-top:25px;border-radius : 10px;margin-top:20px;">

                      <form action="#" id="formAddProduto" style="height: 90px;text-align:center;width: 200px;">
                      <label for="Referencia">Referencia</label>
                      <input type="text" name="referenceProduct" id="referenceProduct" class="form-control" style="width: 200px;">
                      <input type="submit" hidden value="">

                      </form>

                  </div>

            <div class="menuHorinzontal" style="margin-top:-22px;text-align:center;margin-left:-64px;width:200px;height: 400px;border-radius : 10px;">

              <form action="#" id="formFinalizaVenda" class="mt-4">
              <label for="Valor Total">Sub Total</label>
              <input type="text" name="subTotal" id="subTotal" class="form-control mt-2" style="width: 200px;">
              <label for="Desconto">Desconto</label>
              <input type="text" name="desconto" id="desconto" class="form-control mt-2" style="width: 200px;">
              <label for="Valor Total">Cliente</label>
              <select name="clientes" id="clientes" class="form form-control" style="width: 200px;text-align:center;">
                <option value="Default" style="text-align: center;">Não Informado</option>
              </select>
              <label for="Valor Total"></label>
              <input type="text" name="valorTotal" id="valorTotal" class="form-control mt-2" style="width: 200px;"><br>
              <button type="button" id="concluirVendabtn" onclick="finalizaVenda()" class="btn btn-success">Concluir Venda ✓</button>
              </form>

            </div>

                  
          </div>


          <!--Inicio Div Da Tabela-->
<div style="margin-left:170px;margin-top:-520px;width: 1000px;">
            <table class="table table-light" id="myTable" style="margin-left:-15px;width: 101%;height:102%;border-radius: 10px;">
            <h2 style="margin-left: -12px;text-align: center; margin-top : 15px;" class="alert alert-success">Caixa Disponivel - Nova Venda</h2>

            <thead  class=""style="text-align: center;color:black;border-radius:10px;">
                <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Referencia</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th></th>
                </tr>
            </thead>
        <tbody class="" id="campoProdutos" style="text-align : center;">

        </tbody>
        </table>








      </div>
    </div>


</div>




<script>

  let Sale = []

let controleLinha = 0
$(document).ready(()=>{
  $("#referenceProduct").focus()


        document.getElementById("subTotal").value = 0

$('html, body').animate({scrollTop: 65}, 'medium')


})



$("#formAddProduto").submit((event)=>{
  event.preventDefault()


  var ReferenciaProduto = document.getElementById("referenceProduct").value
 

  $.ajax({
    type:"POST",
    url : "http://localhost:8081/admin/novaVenda/addProduct",
    data : {referencia : ReferenciaProduto},
    success : (data)=>{
      if(data == "false")
      {

        Swal.fire({
        position: 'center',
        type: 'error',
        title: 'Referencia nao Encontrada',
        showConfirmButton: false,
        timer: 800
          })
      }

      else
      { 

        
        console.log()
         if(Sale.indexOf(data.reference) === 0 || Sale.indexOf(data.reference) === 1){ // verifica se o produto ja existe no array e add 1 na quantidade
             document.querySelector("#quantidade"+data.reference).value = parseFloat(document.querySelector("#quantidade"+data.reference).value) + 1
             document.getElementById("subTotal").value = parseFloat(document.querySelector("#valorProduto"+data.reference).value) * parseFloat(document.querySelector("#quantidade"+data.reference).value)
             document.querySelector("#valorProduto"+data.reference).value = parseFloat(document.querySelector("#valorProduto"+data.reference).value) * parseFloat(document.querySelector("#quantidade"+data.reference).value)
         }
         else{// caso contrario ele adiciona uma linha na tabela




        Sale.push(data.reference)

        controleLinha = controleLinha + 1
        var LinhaTabela = '<tr id="produto'+controleLinha+'"><th id="nomeProduto"'+controleLinha+' scope="row" >'+data.name+'</th><td>'+data.desc+'</td><td class="referenceProduct" id="referenciaProduto'+controleLinha+'" value="'+data.reference+'">'+data.reference+'</td><td><input type="number" id="quantidade'+data.reference+'" style="width : 80px;text-align:center;" readonly value="1"></td><td>'+data.category+'</td><td><input style="width : 100px ; text-align: center;" id="valorProduto'+data.reference+'" readonly value="'+data.sellValue+'"></td></tr>'
        $("#myTable tbody").append(LinhaTabela)
         document.getElementById("referenceProduct").value = ""




        $("#referenceProduct").focus()

        var subtotal = data.sellValue

        document.getElementById("desconto").value = 0
        document.getElementById("subTotal").value = parseFloat(document.getElementById("subTotal").value) + parseFloat(subtotal) * parseFloat(document.getElementById("quantidade" + data.reference).value)
        document.getElementById("valorTotal").value = parseFloat(document.getElementById("subTotal").value) - parseFloat(document.getElementById("desconto").value) * parseFloat

      }
      }

    },
    error : (err)=>{console.log("Erro ao Add produto ! ")}
  })



})



$("#formFinalizaVenda").submit((event)=>{
  event.preventDefault()


$.ajax({
  url : "http://localhost:8081/admin/novaVenda/endSale",
  type : "POST",
  data : {products : Sale},
  success : ((data)=>{
    console.log(data)
  }),
  error : ((err)=>{
    console.log("Algo deu errado no Processo " + err)
  })
})


})


function finalizaVenda()
{
  let sale = {}
  let Produto = {}
  let contador = 0
  let contadorParaValor = 0
  let produtos = []
  let atribuicaoDeValorTotal = 0
  $("[id^=valorProduto]").each(function(){ // percorre a tabela e atribui o valor de cada item somando o valor total
  atribuicaoDeValorTotal += parseFloat($(this).val())

})
  sale['totalSaleValue'] = atribuicaoDeValorTotal
  $("[id^=nomeProduto]").each(function(){
    contador++
    sale['Produto'+contador] = $(this).text()

  })

sale['Desconto'] = $('#desconto').val()
sale['Cliente'] = $('#clientes').val()



//Swall para Selecionar Débito ou Credito

      const { value: methodSale } =  Swal.fire({
        title: 'Selecione o Metodo de Pagamento',
        input: 'select',
        inputOptions: {
          credito:'Crédito',
          debito : 'Débito',
          dinheiro : 'Dinheiro'
        },
        inputPlaceholder: 'Selecione o modo de Pagamento',
        showCancelButton: true,
        inputValidator: (value) => {
          return new Promise((resolve) => {
            if (value === 'credito') {
                  sale['TipoPagamento'] = 'credito'
                  let timerInterval
                  Swal.fire({
                    title: ' [ CRÉDITO ] ',
                    html: '',
                    text : 'Processando pagamento no Crédito',
                    timer: 2000,
                    onBeforeOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('b')
                         
                      }, 100)
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                       Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Venda Concluida com Sucesso',
                        showConfirmButton: false,
                        timer: 1500
                       })
                    }
                  }).then((result) => {

                      sale['metodoPagamento'] = value
                    //adiciona no objeto sale os metodos de pagamento
                  })
            }
            else if (value === 'debito')
            {
               let timerInterval
                  Swal.fire({
                    title: '[ DÉBITO ] ',
                    text : 'Processando Pagamento no Débito' , 
                    html: '',
                    timer: 2000,
                    onBeforeOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('b')
                          
                      }, 100)
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                      Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Venda Concluida com Sucesso',
                        showConfirmButton: false,
                        timer: 1500
                       })
                    }
                  }).then((result) => {

                    sale['metodoPagamento'] = value
                    //adiciona no objeto sale os metodos de pagamento
                  })
            }

            else if (value === 'dinheiro')
            {
                  let timerInterval
                  Swal.fire({
                    title: ' [ DINHEIRO ] ',
                    html: '',
                    timer: 2000,
                    onBeforeOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        Swal.getContent().querySelector('b')
                          
                      }, 100)
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                      
                       const { value: valorPago } = Swal.fire({
                        input: 'text',
                        inputPlaceholder: 'Valor Pago'
                      }).then((valor)=>{
                        if (valor) {
                          console.log(parseFloat(valor.value))
                          let valorCompraParaTroco = sale.totalSaleValue
                          let valorPagoParaTroco = valor.value
                          let valorTroco = valorPagoParaTroco - valorCompraParaTroco

                        Swal.fire(  'Troco : $' + valorTroco,'Valor Pago : $' + valor.value,'warning')

                        
                      }
                      })

                      



                    }
                  }).then((result) => {

                    sale['metodoPagamento'] = value
                    //adiciona no objeto sale os metodos de pagamento
                  })
            }
          })
        }
      })




console.log(sale)
}



</script>